<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cping.ricekitchen.mapper.OrderlistMapper">

    <select id="getOrderByCid" resultMap="orderMap">
        select * from orderlist where cid = #{cid}
    </select>

    <resultMap id="orderMap" type="com.cping.ricekitchen.entity.Orderlist">
        <id property="id" column="id"></id>
        <result column="price" property="price"/>
        <result column="paytype" property="paytype"/>
        <association property="customer" column="cid" javaType="Customer" select="com.cping.ricekitchen.mapper.CustomerMapper.getCustomerById"></association>

        <collection property="orderDetails"  column="id" select="com.cping.ricekitchen.mapper.OrderdetailMapper.getDetailByOid" ofType="com.cping.ricekitchenpos.entity.Orderdetail"/>
    </resultMap>
</mapper>
